


*{margin: 0; padding: 0;}
body{background-color: black;}

#cabecalho{width:100%;height: 100px; background-color:white; display: flex; align-items: center;justify-content: space-between; }

.logo { width: 93px;}
.logo2 { text-decoration: none;color: black;}
.logo2:hover{color:rgba(167, 152, 152, 0.282);}


#botao ul li { display:inline-table;margin-top: 0px; }
#botao li {padding: 20px;font-size: 20px ;}

#foto{width: 100%; text-align: center;}
#foto img{width: 25%; margin-top: 15px; padding: 5px ;}

.sobre{width: 100%; height: 60px; background-color: white;align-items: center; justify-content: center; display: flex; margin-top: 15px;}
.sobre p {  font-size: 25px; text-align: center;
    word-spacing: 10px;
    letter-spacing: 20px;
    ;
    font-family: 'Libre Franklin', sans-serif; }


.div{width: 100%; }

#sobreMim{ width:550px; display: flex; align-items: center;  transform: translateX(65%); margin-top: 15px; }
#sobreMimF{width: 250px;}
.sobreMimTxt{color: white; margin-left: 18px;}

.contatos{width: 100%; height: 60px; background-color: white;align-items: center; justify-content: center; display: flex; margin-top: 15px;}
.contatos p {  font-size: 25px; text-align: center;
    word-spacing: 10px;
    letter-spacing: 20px;
    
    font-family: 'Libre Franklin', sans-serif; }

.solicite{color: white; margin-left: 80px;  margin-top: 50px; display: none;}

#list{width: 0px;}

.tabela{color: white; text-decoration: none; margin-top: 50px; float: left; width: 200px; margin-left: 42px; }

.containerForm{width:400px; float: right ; margin-right: 50px; margin-top:40px ;}
section{color: white;width: 400px;padding:20px ;  display: inline;margin-right:80px ;; }
input{width: 400px; box-sizing: border-box; padding: 15px; margin: 10px;}

#separador{margin-top: 65px;}

.icon{width: 60px; margin-right: 20px;}
 p, h3 { font-family:'Libre Franklin', sans-serif; ;}





@media(max-width:600px) {
    
    #cabecalho{height: 72px;}
    #botao li{padding: 7px; font-size: 13px;}
    .logo {width: 64px;}
    #foto img {width: 115px; padding: 0px;}
    #sobreMim{transform: translateX(0%); margin-top: 30px; width: 350px; margin-left: 10px; font-size: 7px; display: inline-flex; margin-bottom: 30px;}
    #sobreMimF{width: 110px; margin-left: 80px;}
    .sobre {height: 40px; margin-top: 8px;}
    .sobre p { font-size: 16px; letter-spacing: 15px; word-spacing: 5px ;}
    .contatos {height: 40px; margin-top: 8px;}
    .contatos p { font-size: 16px; letter-spacing: 15px; word-spacing: 5px ;}
    .tabela ul{width: 360px; }
    .icon{width: 30px;}
    .tabela{float: none; padding-left: 0px; margin-left: 160px; font-size: 10px; }
    .containerForm{ margin-right: 0%; float: none; width: 100px;height: auto; }
    section{width: 50px;}
    input{width: 400px; margin-left: 10px;  }
    .solicite{display: block;margin-left: 160px; width: 205px; font-size: 15px;}

}

@media (max-width:400px){
    input {margin-left: 10px; width: 340px;}
    .tabela{margin-left: 90px;}
    .solicite{margin-left: 90px;}
    #sobreMimF{margin-left:30px;}
}
